body {
  color: black;
  
}

#section1, #section2, #section3 {
  
  height: 100vh;
  width: 100%;
  
}

.navbar {
opacity: .9;
background-color: #007bff !important;
font-family: 'Major Mono Display', monospace;
font-weight: 700;
}

.navbar li .nav-link {
  color: white !important;
}

.navbar li .nav-link:hover {
  color: cyan !important;
}

.navbar-brand {
  margin-left: 20px;
  color: cyan !important
  
}

#landingDiv {
  position: absolute;
  top: 40%;
}

#landingText {
  font-size: 2rem;
  color: white;
  background-color: rgba(0,0,0,.5);
  border-radius: 5px;
  padding: 10px;
  font-family: 'Share', cursive;;
}

#myVideo {
  position: absolute;
  z-index: -1;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  
}

/*Section 2 "Search.js"*/
#section2 {
  background-color: #fff;
}



#searchDiv {
  padding-top: 75px;
}

#mapContainerOutterDiv{
  margin: 0;
  
}
#mapContainer {
  width: 100%;
  height: 600px;
  margin-top: 5px;
  box-shadow: 0 0 5px #007bff;
  
}

#mapContainer > svg {
  fill: red !important;
}

#instructionsText {
  color: white;
  font-family: 'Share';
  font-size: 2rem;
}

#marker{
  background-color: red;
  width: 50px;
  height: 50px;
}

#marker:hover{
  background-color: blue;
}

#rating {
  color: cyan;
  font-weight: 700;
  margin-left: 20px;
}

#searchBox{
  width: 600px;
  height: 600px;
  background: #aaa;
  box-shadow: 0 0 5px white;
  border-radius: 15px;
}

#searchBtn{
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  font-weight: 700;
  margin-left: 5px;
  border: none;
  height: 7%;
}
#searchBtn:hover {
  background-color: #006adb;
}

#resultsBox {
  width: 50%;
  height: 80vh;
  border-radius: 15px;
  color: black;
  overflow-y: auto;
  padding: 0;
}

#resultsText {
  justify-content: space-around;
}

#resultsBoxCard{
  width: 100%;
  padding: 0;
  margin: 0;
  color: white;
  text-align: center;
  font-size: 1.5rem;
  opacity: 0;
}

.card {
  
  margin: 10px;
  width: 45%;
}


.card:hover {
  box-shadow: 0 0 15px #aaa;
  transition-duration: .3s;
}

.card-header{
  background-color: #007bff;
}

#resultImg{
  border-radius: 10px;
  box-shadow: 0 0 5px #aaa;
  margin: 5px;
  background-size: contain;
}

#resultRating{
  color: cyan;
  font-weight: 700
}
.card > div {
  --bs-gutter-x: 0;
  border-radius: 5px;
}

#resultVisual {
  border-right: 1px solid #aaa;
  background: #eee; 
  padding-right: 0 !important;
  padding-left: 0 !important;
}

#redX {
  color: red;
  font-size: 2rem;
}

/*Section 3 Contact Us*/
#section3 {
  
  padding-top: 55px;
}

#s3container{
  width: 100vw;
  
}

#banner {
  background-color: #007bff;
  color: white;
}

i {
  font-size: 30px;
}

#contactLink{
  font-size: 1.5rem;
  text-decoration: none;
  font-weight: bold;
  font-family: monospace;
}


@media (max-width: 900px){

  
  #resultsBox {
    width: 100%;
    height: 500px;
  }

  #mapContainer{
    width: 250px;
    height: 250px;
    margin-bottom: 20px;
  }
  
  }