body {
  color: black;
  background: #333;
}

#section1, #section2 {
  z-index: 1;
  height: 100vh;
  width: 100%;
}

.navbar {
opacity: .9;
background-color: #007bff !important;
font-family: 'Major Mono Display', monospace;
font-weight: 700;
}

.navbar li .nav-link {
  color: white !important;
}

.navbar li .nav-link:hover {
  color: cyan !important;
}

.navbar-brand {
  margin-left: 20px;
  color: cyan !important
  
}

#landingDiv {
  position: absolute;
  top: 40%;
}

#landingText {
  font-size: 2rem;
  color: white;
  background-color: rgba(0,0,0,.5);
  border-radius: 5px;
  padding: 10px;
  font-family: 'Share', cursive;;
}

#myVideo {
  position: absolute;
  z-index: -1;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  
}

/*Section 2 "Search.js"*/
#section2 {
  background-color: #fff;
}

#searchDiv {
  padding-top: 150px;
}

#mapContainer {
  width: 500px;
  height: 500px;
}

#instructionsText {
  color: white;
  font-family: 'Share';
  font-size: 2rem;
}

#searchBox{
  width: 600px;
  height: 600px;
  background: #aaa;
  box-shadow: 0 0 5px white;
  border-radius: 15px;
}

#resultsBox {
  width: 600px;
  height: 600px;
  box-shadow: 0 0 5px white;
  border-radius: 15px;
  color: black;
}

.card {
  margin-top: 10px;
}

.card:hover {
  box-shadow: 0 0 15px #aaa;
  transition-duration: .3s;
}

#resultImg{
  border-radius: 10px;
  box-shadow: 0 0 5px #aaa;
  margin: 5px;
  background-size: contain;
}

#resultRating{
  color: red;
}
.card > div {
  --bs-gutter-x: 0;
  border-radius: 5px;
}

#resultVisual {
  border-right: 1px solid #aaa;
  background: #eee; 
  padding-right: 0 !important;
  padding-left: 0 !important;
}

#redX {
  color: red;
  font-size: 2rem;
}